In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
path='../data/'
gds_a = pd.read_csv(path+'gds_a.csv')
gds_b = pd.read_csv(path+'gds_b.csv')
gds_c = pd.read_csv(path+'gds_c.csv')
gds_d = pd.read_csv(path+'gds_d.csv')
tr_list_a = pd.read_csv(path+'tr_list_a.csv')
tr_list_b = pd.read_csv(path+'tr_list_b.csv')
tr_list_c = pd.read_csv(path+'tr_list_c.csv')
tr_list_d = pd.read_csv(path+'tr_list_d.csv')
tr_dtl_list_a = pd.read_csv(path+'tr_dtl_list_a.csv')
tr_dtl_list_b = pd.read_csv(path+'tr_dtl_list_b.csv')
tr_dtl_list_c = pd.read_csv(path+'tr_dtl_list_c.csv')
tr_dtl_list_d = pd.read_csv(path+'tr_dtl_list_d.csv')

In [2]:
gds_c

         CO_CD  STR_CD         PLU_CD    GDS_NM  GDS_CLSS_CD GDS_TP_NM  VEN_CD
0      1001993  142011              0    종랑제75ㄴ       999999        일반       0
1      1001993  142011              1       배송비       999999       배송료       0
2      1001993  142011              2    사은행사쿠폰       999999       배송료       0
3      1001993  142011          12003       얼음물       999999        일반       0
4      1001993  142011          22002   써니텐=사이다       999999        일반       0
...        ...     ...            ...       ...          ...       ...     ...
48669  1001993  142011       97059582      약초갱이       999999        일반    9999
48670  1001993  142011       97059585      약초갱이       999999        일반    9999
48671  1001993  142011       97159490      약초갱이       999999        일반    9999
48672  1001993  142011       97159599  약초갱이(3발)       999999        일반    9999
48673  1001993  142011  9788087049099  쿨토시(국방색)        20101        일반    9094

[48674 rows x 7 columns]

In [29]:
tr_dtl_list_c

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20210901,142011,1,2,1,정상판매,1,8801097250048,999999.0,1.0,1500.0,1500.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20210901,142011,1,2,2,정상판매,1,8801052171043,10301.0,1.0,1300.0,1300.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20210901,142011,1,2,3,정상판매,1,8801007028705,10101.0,1.0,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20210901,142011,1,3,1,정상판매,1,205105,110101.0,1.0,1300.0,1300.0,정상,0.0,0.0,0.0,0.0,일반저울,0.0,0.0
4,20210901,142011,1,3,2,정상판매,1,8801007112480,999999.0,1.0,1200.0,1200.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91807,20220901,142011,1,118,5,정상판매,1,8809379660356,999999.0,1.0,800.0,800.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91808,20220901,142011,1,119,1,정상판매,1,8801104667135,999999.0,1.0,4300.0,4300.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91809,20220901,142011,1,119,2,정상판매,1,8801052080628,999999.0,1.0,4900.0,4900.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91810,20220901,142011,1,119,3,정상판매,1,8801045299952,10101.0,2.0,1700.0,3400.0,정상,0.0,0.0,0.0,0.0,일반,0.0,0.0
91811,20220901,142011,1,119,4,정상판매,1,205079,110101.0,1.0,1500.0,1500.0,정상,0.0,0.0,0.0,0.0,일반저울,0.0,0.0

In [3]:
c_mer = pd.merge(tr_dtl_list_c[['SAL_DT','SEQ_NO', 'PLU_CD']],gds_c[['PLU_CD', 'GDS_NM']])
c_mer

         SAL_DT  SEQ_NO         PLU_CD         GDS_NM
0      20210901       1  8801097250048         포카리스웨트
1      20210903       1  8801097250048         포카리스웨트
2      20210903       1  8801097250048         포카리스웨트
3      20210903       1  8801097250048         포카리스웨트
4      20210905       2  8801097250048         포카리스웨트
...         ...     ...            ...            ...
91855  20220901       5  8801019611391       허니버터칩(대)
91856  20220901       6  8801019611261       허니버터칩88g
91857  20220901       1  8801062866663  8801062866663
91858  20220901       2  8801062866670  8801062866670
91859  20220901       8  8801133000583      머거본후렌치아몬드

[91860 rows x 4 columns]

In [4]:
dtl_copy = tr_dtl_list_c.copy()

In [5]:
dtl_mer = pd.merge(dtl_copy, gds_c, how='left', on='PLU_CD')
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD_x,SALE_QTY,...,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT,CO_CD,STR_CD_y,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,142011,1,2,1,정상판매,1,8801097250048,999999.0,1.0,...,0.0,일반,0.0,0.0,1001993,142011,포카리스웨트,999999,일반,9999
1,20210901,142011,1,2,2,정상판매,1,8801052171043,10301.0,1.0,...,0.0,일반,0.0,0.0,1001993,142011,맛소금 250g,10301,일반,1052
2,20210901,142011,1,2,3,정상판매,1,8801007028705,10101.0,1.0,...,0.0,일반,0.0,0.0,1001993,142011,백설꽃소금,10101,일반,1007
3,20210901,142011,1,3,1,정상판매,1,205105,110101.0,1.0,...,0.0,일반저울,0.0,0.0,1001993,142011,무,110101,저울상품,1000
4,20210901,142011,1,3,2,정상판매,1,8801007112480,999999.0,1.0,...,0.0,일반,0.0,0.0,1001993,142011,맛있는콩 찌개두부,999999,일반,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91855,20220901,142011,1,118,5,정상판매,1,8809379660356,999999.0,1.0,...,0.0,일반,0.0,0.0,1001993,142011,종이컵(줄),999999,일반,0
91856,20220901,142011,1,119,1,정상판매,1,8801104667135,999999.0,1.0,...,0.0,일반,0.0,0.0,1001993,142011,빙그레우유,999999,일반,0
91857,20220901,142011,1,119,2,정상판매,1,8801052080628,999999.0,1.0,...,0.0,일반,0.0,0.0,1001993,142011,파육계장,999999,일반,0
91858,20220901,142011,1,119,3,정상판매,1,8801045299952,10101.0,2.0,...,0.0,일반,0.0,0.0,1001993,142011,옛날육개장,10101,일반,1045
91859,20220901,142011,1,119,4,정상판매,1,205079,110101.0,1.0,...,0.0,일반저울,0.0,0.0,1001993,142011,대파,110101,저울상품,1000

In [6]:
dtl_mer.drop(['CO_CD', 'STR_CD_y', 'GDS_CLSS_CD_x','SGDS_DC_PRC', 'SUBTOT_DC_AMT', 'EVT_DC_AMT', 'CPON_DC_AMT','GDS_CPON_DC_AMT','BASKET_CPON_DC_AMT'], axis=1, inplace=True)
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,142011,1,2,1,정상판매,1,8801097250048,1.0,1500.0,1500.0,정상,일반,포카리스웨트,999999,일반,9999
1,20210901,142011,1,2,2,정상판매,1,8801052171043,1.0,1300.0,1300.0,정상,일반,맛소금 250g,10301,일반,1052
2,20210901,142011,1,2,3,정상판매,1,8801007028705,1.0,1200.0,1200.0,정상,일반,백설꽃소금,10101,일반,1007
3,20210901,142011,1,3,1,정상판매,1,205105,1.0,1300.0,1300.0,정상,일반저울,무,110101,저울상품,1000
4,20210901,142011,1,3,2,정상판매,1,8801007112480,1.0,1200.0,1200.0,정상,일반,맛있는콩 찌개두부,999999,일반,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91855,20220901,142011,1,118,5,정상판매,1,8809379660356,1.0,800.0,800.0,정상,일반,종이컵(줄),999999,일반,0
91856,20220901,142011,1,119,1,정상판매,1,8801104667135,1.0,4300.0,4300.0,정상,일반,빙그레우유,999999,일반,0
91857,20220901,142011,1,119,2,정상판매,1,8801052080628,1.0,4900.0,4900.0,정상,일반,파육계장,999999,일반,0
91858,20220901,142011,1,119,3,정상판매,1,8801045299952,2.0,1700.0,3400.0,정상,일반,옛날육개장,10101,일반,1045
91859,20220901,142011,1,119,4,정상판매,1,205079,1.0,1500.0,1500.0,정상,일반저울,대파,110101,저울상품,1000

In [7]:
dtl_mer.columns

Index(['SAL_DT', 'STR_CD_x', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'PLU_CD', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'SGDS_DC_TP_NM', 'SCALES_GDS_TP_NM', 'GDS_NM', 'GDS_CLSS_CD_y',
       'GDS_TP_NM', 'VEN_CD'],
      dtype='object')

In [8]:
dtl_mer.reindex(columns=['SAL_DT', 'STR_CD_x', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'PLU_CD', 'GDS_NM', 'GDS_CLSS_CD_y', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'SGDS_DC_TP_NM', 'SCALES_GDS_TP_NM', 
       'GDS_TP_NM', 'VEN_CD'])

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_NM,GDS_CLSS_CD_y,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_TP_NM,VEN_CD
0,20210901,142011,1,2,1,정상판매,1,8801097250048,포카리스웨트,999999,1.0,1500.0,1500.0,정상,일반,일반,9999
1,20210901,142011,1,2,2,정상판매,1,8801052171043,맛소금 250g,10301,1.0,1300.0,1300.0,정상,일반,일반,1052
2,20210901,142011,1,2,3,정상판매,1,8801007028705,백설꽃소금,10101,1.0,1200.0,1200.0,정상,일반,일반,1007
3,20210901,142011,1,3,1,정상판매,1,205105,무,110101,1.0,1300.0,1300.0,정상,일반저울,저울상품,1000
4,20210901,142011,1,3,2,정상판매,1,8801007112480,맛있는콩 찌개두부,999999,1.0,1200.0,1200.0,정상,일반,일반,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91855,20220901,142011,1,118,5,정상판매,1,8809379660356,종이컵(줄),999999,1.0,800.0,800.0,정상,일반,일반,0
91856,20220901,142011,1,119,1,정상판매,1,8801104667135,빙그레우유,999999,1.0,4300.0,4300.0,정상,일반,일반,0
91857,20220901,142011,1,119,2,정상판매,1,8801052080628,파육계장,999999,1.0,4900.0,4900.0,정상,일반,일반,0
91858,20220901,142011,1,119,3,정상판매,1,8801045299952,옛날육개장,10101,2.0,1700.0,3400.0,정상,일반,일반,1045
91859,20220901,142011,1,119,4,정상판매,1,205079,대파,110101,1.0,1500.0,1500.0,정상,일반저울,저울상품,1000

In [10]:
dtl_mer_copy = dtl_mer.copy()

In [11]:
dtl_mer_copy.SAL_DT = dtl_mer_copy.SAL_DT.astype('str')
dtl_mer_copy.SAL_DT

0        20210901
1        20210901
2        20210901
3        20210901
4        20210901
           ...
91855    20220901
91856    20220901
91857    20220901
91858    20220901
91859    20220901
Name: SAL_DT, Length: 91860, dtype: object

In [21]:
dtl_mer_copy.SAL_DT = pd.to_datetime(dtl_mer_copy.SAL_DT)
# dtl_mer_copy.SAL_DT.dt.strftime('%Y/%m/%d')
dtl_mer_copy

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,2021-09-01,142011,1,2,1,정상판매,1,8801097250048,1.0,1500.0,1500.0,정상,일반,포카리스웨트,999999,일반,9999
1,2021-09-01,142011,1,2,2,정상판매,1,8801052171043,1.0,1300.0,1300.0,정상,일반,맛소금 250g,10301,일반,1052
2,2021-09-01,142011,1,2,3,정상판매,1,8801007028705,1.0,1200.0,1200.0,정상,일반,백설꽃소금,10101,일반,1007
3,2021-09-01,142011,1,3,1,정상판매,1,205105,1.0,1300.0,1300.0,정상,일반저울,무,110101,저울상품,1000
4,2021-09-01,142011,1,3,2,정상판매,1,8801007112480,1.0,1200.0,1200.0,정상,일반,맛있는콩 찌개두부,999999,일반,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91855,2022-09-01,142011,1,118,5,정상판매,1,8809379660356,1.0,800.0,800.0,정상,일반,종이컵(줄),999999,일반,0
91856,2022-09-01,142011,1,119,1,정상판매,1,8801104667135,1.0,4300.0,4300.0,정상,일반,빙그레우유,999999,일반,0
91857,2022-09-01,142011,1,119,2,정상판매,1,8801052080628,1.0,4900.0,4900.0,정상,일반,파육계장,999999,일반,0
91858,2022-09-01,142011,1,119,3,정상판매,1,8801045299952,2.0,1700.0,3400.0,정상,일반,옛날육개장,10101,일반,1045
91859,2022-09-01,142011,1,119,4,정상판매,1,205079,1.0,1500.0,1500.0,정상,일반저울,대파,110101,저울상품,1000

In [27]:
dtl_gr = dtl_mer_copy.groupby(['SAL_DT', 'TRAN_NO', 'GDS_TP_NM'])['GDS_NM'].apply(list).to_frame()
dtl_gr

                                                                         GDS_NM
SAL_DT     TRAN_NO GDS_TP_NM
2021-09-01 2       일반                                 [포카리스웨트, 맛소금 250g, 백설꽃소금]
           3       일반                                  [맛있는콩 찌개두부, 야채, 무궁화점보비누]
                   저울상품                                                     [무]
           4       저울상품                                          [피망, 파프리카, 쪽파]
           5       일반         [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
...                                                                         ...
2022-09-01 116     일반                                          [미에로화이, 1200아맛나]
           117     일반                                             [동원샘물생수, 비식품]
           118     일반              [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
           119     일반                                      [빙그레우유, 파육계장, 옛날육개장]
                   저울상품                                                    [대파]

[40839 rows x 1 columns]

In [59]:
dtl_gr2 = dtl_mer_copy.groupby(['SAL_DT', 'TRAN_NO'])['GDS_NM'].apply(list).to_frame()
dtl_gr2

                                                               GDS_NM
SAL_DT     TRAN_NO
2021-09-01 2                                [포카리스웨트, 맛소금 250g, 백설꽃소금]
           3                              [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
           4                                           [피망, 파프리카, 쪽파]
           5        [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
           6                                               [애호박, 애호박]
...                                                               ...
2022-09-01 115      [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
           116                                       [미에로화이, 1200아맛나]
           117                                          [동원샘물생수, 비식품]
           118           [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
           119                               [빙그레우유, 파육계장, 옛날육개장, 대파]

[35943 rows x 1 columns]

In [15]:
# df_1 = a.reset_index().rename(columns={"index":"PLU_CD"})
# df_1

In [28]:
dtl_re = dtl_gr.reset_index().rename(columns={"index":"TRAN_NO"})
dtl_re

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,2,일반,"[포카리스웨트, 맛소금 250g, 백설꽃소금]"
1,2021-09-01,3,일반,"[맛있는콩 찌개두부, 야채, 무궁화점보비누]"
2,2021-09-01,3,저울상품,[무]
3,2021-09-01,4,저울상품,"[피망, 파프리카, 쪽파]"
4,2021-09-01,5,일반,"[생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티..."
...,...,...,...,...
40834,2022-09-01,116,일반,"[미에로화이, 1200아맛나]"
40835,2022-09-01,117,일반,"[동원샘물생수, 비식품]"
40836,2022-09-01,118,일반,"[카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]"
40837,2022-09-01,119,일반,"[빙그레우유, 파육계장, 옛날육개장]"
40838,2022-09-01,119,저울상품,[대파]

In [60]:
dtl_re2 = dtl_gr.reset_index().rename(columns={"index":"TRAN_NO"})
dtl_re2

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,2,일반,"[포카리스웨트, 맛소금 250g, 백설꽃소금]"
1,2021-09-01,3,일반,"[맛있는콩 찌개두부, 야채, 무궁화점보비누]"
2,2021-09-01,3,저울상품,[무]
3,2021-09-01,4,저울상품,"[피망, 파프리카, 쪽파]"
4,2021-09-01,5,일반,"[생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티..."
...,...,...,...,...
40834,2022-09-01,116,일반,"[미에로화이, 1200아맛나]"
40835,2022-09-01,117,일반,"[동원샘물생수, 비식품]"
40836,2022-09-01,118,일반,"[카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]"
40837,2022-09-01,119,일반,"[빙그레우유, 파육계장, 옛날육개장]"
40838,2022-09-01,119,저울상품,[대파]

In [21]:
dtl_re[dtl_re['SAL_DT']=='2021-09-01']

        SAL_DT  TRAN_NO                                             GDS_NM
0   2021-09-01        2                          [포카리스웨트, 맛소금 250g, 백설꽃소금]
1   2021-09-01        3                        [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2   2021-09-01        4                                     [피망, 파프리카, 쪽파]
3   2021-09-01        5  [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4   2021-09-01        6                                         [애호박, 애호박]
..         ...      ...                                                ...
99  2021-09-01      102                                               [청과]
100 2021-09-01      103                 [테라500ml, 진로소주16.9, 나가사까, 백설알찬소세지]
101 2021-09-01      104                     [신라면컵 6입, 좋은데이360ml, 델몬트망고1.5]
102 2021-09-01      105  [서울우유카톤, 불가리스 1줄, 스프라이트사이다, 몬스터에너지울트라355ml, 오레...
103 2021-09-01      106                                    [해피홈바퀴에어졸500ml]

[104 rows x 3 columns]

In [ ]:
# from collections import Counter

# dtl_count = Counter(','.join(map(str ,dtl_NM_3['GDS_NM'])).replace('','').split(','))
# dtl_count.most_common()

In [17]:
dtl_re.GDS_NM

0                                [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                              [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                           [피망, 파프리카, 쪽파]
3        [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4                                               [애호박, 애호박]
                               ...
35938    [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
35939                                     [미에로화이, 1200아맛나]
35940                                        [동원샘물생수, 비식품]
35941         [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
35942                             [빙그레우유, 파육계장, 옛날육개장, 대파]
Name: GDS_NM, Length: 35943, dtype: object

In [19]:
dtl_NM_3 = dtl_re['GDS_NM'].to_frame()
dtl_NM_3

                                                  GDS_NM
0                              [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                            [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                         [피망, 파프리카, 쪽파]
3      [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4                                             [애호박, 애호박]
...                                                  ...
35938  [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
35939                                   [미에로화이, 1200아맛나]
35940                                      [동원샘물생수, 비식품]
35941       [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
35942                           [빙그레우유, 파육계장, 옛날육개장, 대파]

[35943 rows x 1 columns]

In [58]:
dtl_NM_3

                                                  GDS_NM
0                              [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                            [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                         [피망, 파프리카, 쪽파]
3      [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4                                             [애호박, 애호박]
...                                                  ...
35938  [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
35939                                   [미에로화이, 1200아맛나]
35940                                      [동원샘물생수, 비식품]
35941       [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
35942                           [빙그레우유, 파육계장, 옛날육개장, 대파]

[35943 rows x 1 columns]

In [55]:
import itertools

In [52]:
dtl_apri =dtl_mer_copy[['SAL_DT','TRAN_NO', 'GDS_NM', 'GDS_TP_NM']]
dtl_apri

          SAL_DT  TRAN_NO     GDS_NM GDS_TP_NM
0     2021-09-01        2     포카리스웨트        일반
1     2021-09-01        2   맛소금 250g        일반
2     2021-09-01        2      백설꽃소금        일반
3     2021-09-01        3          무      저울상품
4     2021-09-01        3  맛있는콩 찌개두부        일반
...          ...      ...        ...       ...
91855 2022-09-01      118     종이컵(줄)        일반
91856 2022-09-01      119      빙그레우유        일반
91857 2022-09-01      119       파육계장        일반
91858 2022-09-01      119      옛날육개장        일반
91859 2022-09-01      119         대파      저울상품

[91860 rows x 4 columns]

In [53]:
def support(df, item_lst):
    return (df[list(item_lst)].sum(axis=1)==len(item_lst)).mean()

In [67]:
dtl_re2['GDS_NM'] = list(map(','.join, dtl_re2['GDS_NM']))
dtl_re2['GDS_NM']

0                                    포카리스웨트,맛소금 250g,백설꽃소금
1                                     맛있는콩 찌개두부,야채,무궁화점보비누
2                                                        무
3                                               피망,파프리카,쪽파
4        생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복...
                               ...
40834                                        미에로화이,1200아맛나
40835                                           동원샘물생수,비식품
40836               카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)
40837                                     빙그레우유,파육계장,옛날육개장
40838                                                   대파
Name: GDS_NM, Length: 40839, dtype: object

In [68]:
dtl_re2

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,2,일반,"포카리스웨트,맛소금 250g,백설꽃소금"
1,2021-09-01,3,일반,"맛있는콩 찌개두부,야채,무궁화점보비누"
2,2021-09-01,3,저울상품,무
3,2021-09-01,4,저울상품,"피망,파프리카,쪽파"
4,2021-09-01,5,일반,"생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복..."
...,...,...,...,...
40834,2022-09-01,116,일반,"미에로화이,1200아맛나"
40835,2022-09-01,117,일반,"동원샘물생수,비식품"
40836,2022-09-01,118,일반,"카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)"
40837,2022-09-01,119,일반,"빙그레우유,파육계장,옛날육개장"
40838,2022-09-01,119,저울상품,대파

In [154]:
df2 = dtl_re2['GDS_NM'].to_frame()
df2

                                                  GDS_NM
0                                  포카리스웨트,맛소금 250g,백설꽃소금
1                                   맛있는콩 찌개두부,야채,무궁화점보비누
2                                                      무
3                                             피망,파프리카,쪽파
4      생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복...
...                                                  ...
40834                                      미에로화이,1200아맛나
40835                                         동원샘물생수,비식품
40836             카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)
40837                                   빙그레우유,파육계장,옛날육개장
40838                                                 대파

[40839 rows x 1 columns]

In [158]:
df3 = df2.transpose()
df3

,0,1,2,3,4,5,6,7,8,9,...,40829,40830,40831,40832,40833,40834,40835,40836,40837,40838
GDS_NM,"포카리스웨트,맛소금 250g,백설꽃소금","맛있는콩 찌개두부,야채,무궁화점보비누",무,"피망,파프리카,쪽파","생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복...","애호박,애호박",백설 흰설탕,"바나나킥75g,롯데칠성사이다제로250,보석컵얼음,야채","토레타500ml,쇠고기육포","서울우유카톤,빙그레요구르트20입",...,"비식품,부라보콘우유",좋은데이 pet,"빅가나초코렛,팹시콜라슈거라인",배돼지갈비양념장,"해뜨락맛김치1.2키로,부산생탁,예천막걸리,빙)우유얌딸기,1200오감자,오/꼬북칩콘스...","미에로화이,1200아맛나","동원샘물생수,비식품","카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)","빙그레우유,파육계장,옛날육개장",대파

In [159]:
df3.rename(columns=df3.iloc[0], inplace=True)
df3 = df3.drop(df3.index[0])
df3

Empty DataFrame
Columns: [포카리스웨트,맛소금 250g,백설꽃소금, 맛있는콩 찌개두부,야채,무궁화점보비누, 무, 피망,파프리카,쪽파, 생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복톡톡각티슈200*3, 애호박,애호박, 백설 흰설탕, 바나나킥75g,롯데칠성사이다제로250,보석컵얼음,야채, 토레타500ml,쇠고기육포, 서울우유카톤,빙그레요구르트20입, 1000빅딸기샌드,8801068398021, 안성탕면멀티,비식품, 참맛 1+1,케잌, 코카콜라미니,리츠샌드화이트, 빙그레바나나멀티, 천주산(북면), 비식품, 북어채, 맛있는콩부침두부, 바나나, 야채, 배추, 프라콘접시200(중), 납부칩(음식물)5L,서울우유,살균표백, 8802946879427900딱풀,야채,좋은데이360ml, 빙그레요구르트20입,퓨어그린물티슈78*10캡, 비식품, 필라이트후레쉬355*6, CJ 태양초골드고추장,비식품, 화이트소주360G, 서울우유, 좋은데이360ml,농심)신라면볶음면, 동아中계피,맛드린카라멜,동아中가위박하,호두형볼,땅콩소보루,줄약과,압맥,참쌀2kg, 삼립)따베패스츄리4입,8801068398014, 맛선생멸치국물내기티백80g,비식품, 맛선생멸치국물내기티백80g,청정원 맛선생국물내기티백(해물),시골시래기된장국,청정원 소고기미역국,청정원 명품꽃소금,(청)구운소금500g,비식품, 4800맛동산 대,유과, 천주산(북면), 조지아카페라떼,썬)우리배, 밥&쿡(원형1호280ml),직사각밀폐2호3P/마스터통,마스터통직사각5호,쿨맥스6.3,주방용품2000원,맛소금 100g,소고기다시다, 국거리, 무, 종량제20L,피자치즈,코코팜복숭아,비락식혜(중),~,더블비얀코초코,오리온고래밥,망고400ml,눈을감자,쌍쌍바,구미구미*3가지맛,부산어묵 뽁음용,국물떡볶이(대림),서울우유카톤,왕계란15구, 생탁주1.2L,씨밀렉스콤보2.3L,브니엘롱비누갑, 고구마, 맑은물티슈,펩시콜라캔355M,야채, 요플레플레인홈, 남양요구르트16, 잘집3겹퀼팅30롤,비식품, 코카콜라, 빙그레바나나멀티,삼겹살,동서카누마일드아메리카노 10T,광동보리차,오뚜기3분카레약간매운맛,크)1000치즈샌드,블랙훅미니사각,해태크림웨하스,사이다,크린백50개,크린백중25*35*100,오뚜기3분카레약간매운맛,맛있는콩 찌개두부,에프킬라무향,홈-개미수성에어졸,청과, 양배추,애호박, 크래프트콜드브루,코카콜라350ml, 빙그레*오늘의커피라떼,리치샌드위치초코,썸(딸기마블), 떡 붕어싸만코,6001000옥동자,왕요구500, 야채,서울우유카톤, 옥수수수염차500ml,월드콘XQ, 포스트코코볼,서울우유카톤,맥스웰화인커피믹스(오리지날), 보리차,펩시콜라,레쓰비모카라떼,사이다,환타오렌지캔,오란다, 맥심블렌드200ml,농심신라면블랙사발101g, 쌀떡볶이, 코코팜화이트캔,해태머스캣드링크, 서울우유카톤,1200돼지바, 미에로화이,비식품, 배추, 동서카누마일드아메리카노 10T,삼호바른어묵240g,백설알찬소세지, 바나나,바나나, 남양맛있는GT,초밥소풍기획280g, 무, 돼지바콘, 좋은데이 pet,야외용소주, 좋은데이 pet,델몬트)망고홈4500,검은콩베지밀병,하림 닭가슴살,프레스코스파게티소스,삼호바른어묵240g,쌀떡볶이, 염고등어, 뻥튀기,코카콜라,환타파인, 650별애별란30구,종량제20L,1000스크류바,뽕따, 테라355,마이구미,구미구미*3가지맛, 단팥빵,빵,왕요구500, 옥수수슈염차, 코카콜라제로,전통동동주,빙그레)오늘의바닐라라떼, 웰빙야채,카스맥주캔,예감치즈그라탕맛,화이트소주360G, 650별애별란30구,비식품, 맥스봉숯불구이핫바70g,홈런볼초코,오리온N도도오리지날,칠성사이다, 일품팥빙수, TOP더블랙, 툴스피아소프트그립양용드라이버6*150,해)시크릿쥬쥬매직팝1500,벡셀건전지03-2P, 모짜렐라피자치즈50g, 식빵, 진로소주16.9, 광동비타500,갈아만든배PET, 델리후르츠틱톡젤리,칠성사이다포도, 코카콜라제로,신)신라면블랙멀티,맥심콜롬비아나카페라떼, 바겍스17호,맛있는콩부침두부, 토마토, 생강,팽이버섯, 화이트소주 640팩, 백셀수은건전지2032,부산생탁, 9깻잎,모기향(라벤다)-10P, 상추, 해태참고향만두,진짬뽕미니컵,오뚜기 진짬뽕,에너자이저AAA, 56시간저온숙식빵, ...]
Index: []

[0 rows x 40839 columns]

In [149]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

te = TransactionEncoder()
te_ary = te.fit(df3).transform(df3)
df = pd.DataFrame(te_ary, columns=te.columns_)

IndexError: index 0 is out of bounds for axis 0 with size 0

In [136]:
te.columns_

[' ',
 '!',
 '#',
 '%',
 '&',
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '<',
 '>',
 '?',
 '@',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 ']',
 '_',
 '`',
 'a',
 'b',
 'c',
 'd',
 'e',
 'g',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 's',
 't',
 'u',
 'w',
 'x',
 '~',
 'ㄴ',
 'ㅣ',
 '㎏',
 '中',
 '大',
 '小',
 '가',
 '각',
 '간',
 '갈',
 '감',
 '갑',
 '갓',
 '강',
 '개',
 '갠',
 '갱',
 '거',
 '걱',
 '건',
 '걸',
 '검',
 '겉',
 '게',
 '겍',
 '겐',
 '겔',
 '겟',
 '겨',
 '견',
 '결',
 '겸',
 '겹',
 '경',
 '계',
 '고',
 '곡',
 '곤',
 '골',
 '곰',
 '곱',
 '공',
 '곶',
 '과',
 '곽',
 '광',
 '교',
 '구',
 '국',
 '군',
 '굴',
 '굿',
 '궁',
 '권',
 '귀',
 '귄',
 '균',
 '귤',
 '그',
 '극',
 '근',
 '글',
 '금',
 '급',
 '기',
 '긴',
 '길',
 '김',
 '깁',
 '깃',
 '깅',
 '깊',
 '까',
 '깍',
 '깐',
 '깔',
 '깜',
 '깡',
 '깨',
 '깻',
 '꺠',
 '껌',
 '껑',
 '꼬',
 '꼴',
 '꼽',
 '꼿',
 '꽁',
 '꽃',
 '꽈',
 '꾀',
 '꾸',
 '꿀',
 '꿈',
 '끈',
 '끔',
 '끗',
 '끼',
 '낌',
 '나',
 '낙',
 '난',
 '날',
 '남',
 '납',
 '낫',
 '낭',
 '내',
 '낵',
 '냄',
 '냉',
 '냐',
 '냥',
 '너',
 '널',
 '넘',
 '넛',
 '네',
 '넥',
 '녀',
 '년',
 '념',
 '노',
 '녹',
 '놀',
 '농',
 '뇨',
 '누',
 '눈',
 '뉴',
 '늄',
 '늉',
 '느',
 '는',
 '늘',
 '능',
 '니',
 '닉',
 '닐',
 '닛',
 '닝',
 '다',
 '닥',
 '단',
 '달',
 '닭',
 '담',
 '당',
 '대',
 '댕',
 '더',
 '덕',
 '던',
 '덧',
 '덩',
 '덮',
 '데',
 '덱',
 '덴',
 '델',
 '뎅',
 '도',
 '독',
 '돈',
 '돋',
 '돌',
 '동',
 '돼',
 '된',
 '두',
 '둘',
 '둥',
 '뒤',
 '듀',
 '드',
 '득',
 '든',
 '들',
 '듬',
 '등',
 '디',
 '딕',
 '딥',
 '딧',
 '딩',
 '따',
 '딱',
 '딸',
 '땅',
 '때',
 '땡',
 '떙',
 '떠',
 '떡',
 '떼',
 '또',
 '똑',
 '뚜',
 '뚝',
 '뜨',
 '뜰',
 '띠',
 '라',
 '락',
 '란',
 '랄',
 '람',
 '랑',
 '래',
 '랙',
 '랜',
 '램',
 '랩',
 '랭',
 '랲',
 '량',
 '러',
 '런',
 '럴',
 '럼',
 '럿',
 '렁',
 '레',
 '렉',
 '렌',
 '렐',
 '렛',
 '려',
 '력',
 '로',
 '록',
 '론',
 '롤',
 '롬',
 '롯',
 '롱',
 '료',
 '룡',
 '루',
 '룽',
 '류',
 '륨',
 '르',
 '른',
 '름',
 '릅',
 '릇',
 '릉',
 '리',
 '릭',
 '린',
 '릴',
 '림',
 '립',
 '릿',
 '링',
 '마',
 '막',
 '만',
 '말',
 '맑',
 '맘',
 '맛',
 '망',
 '매',
 '맥',
 '맨',
 '맹',
 '머',
 '먹',
 '먼',
 '멀',
 '멍',
 '메',
 '멕',
 '멘',
 '멜',
 '면',
 '멸',
 '명',
 '모',
 '목',
 '몬',
 '몰',
 '못',
 '몽',
 '묘',
 '무',
 '묵',
 '묶',
 '문',
 '물',
 '미',
 '믹',
 '민',
 '밀',
 '밑',
 '바',
 '박',
 '반',
 '받',
 '발',
 '밝',
 '밤',
 '밥',
 '방',
 '배',
 '백',
 '밴',
 '뱀',
 '뱅',
 '버',
 '벅',
 '번',
 '벌',
 '범',
 '벙',
 '베',
 '벡',
 '벤',
 '벨',
 '벳',
 '변',
 '별',
 '병',
 '보',
 '복',
 '볶',
 '본',
 '볼',
 '봄',
 '봇',
 '봉',
 '부',
 '북',
 '분',
 '불',
 '붕',
 '뷰',
 '브',
 '븐',
 '블',
 '븨',
 '비',
 '빅',
 '빈',
 '빌',
 '빔',
 '빗',
 '빙',
 '빛',
 '빠',
 '빨',
 '빵',
 '빼',
 '빽',
 '뺴',
 '뻥',
 '뻬',
 '뽀',
 '뽁',
 '뽕',
 '뿌',
 '쁘',
 '쁜',
 '삐',
 '삔',
 '사',
 '삭',
 '산',
 '살',
 '삼',
 '상',
 '새',
 '색',
 '샌',
 '샘',
 '생',
 '샤',
 '샴',
 '샷',
 '서',
 '석',
 '선',
 '설',
 '섬',
 '섯',
 '성',
 '세',
 '센',
 '셀',
 '셋',
 '셔',
 '션',
 '셜',
 '셰',
 '소',
 '속',
 '손',
 '솔',
 '송',
 '솥',
 '쇠',
 '쇼',
 '숄',
 '숏',
 '수',
 '숙',
 '순',
 '술',
 '숨',
 '숫',
 '숭',
 '숯',
 '쉐',
 '쉘',
 '쉬',
 '슈',
 '슐',
 '슘',
 '스',
 '슨',
 '슬',
 '슴',
 '습',
 '승',
 '시',
 '식',
 '신',
 '실',
 '심',
 '싱',
 '싸',
 '싹',
 '쌀',
 '쌈',
 '쌍',
 '써',
 '썬',
 '썸',
 '쎈',
 '쏘',
 '쏙',
 '쑥',
 '쓰',
 '씨',
 '씬',
 '씽',
 '아',
 '악',
 '안',
 '알',
 '암',
 '압',
 '앗',
 '앙',
 '애',
 '액',
 '앤',
 '앵',
 '야',
 '약',
 '얀',
 '얄',
 '얇',
 '얌',
 '양',
 '어',
 '억',
 '언',
 '얼',
 '엄',
 '업',
 '엉',
 '에',
 '엑',
 '엔',
 '엘',
 '엠',
 '여',
 '역',
 '연',
 '열',
 '염',
 '엿',
 '영',
 '예',
 '옐',
 '옛',
 '오',
 '옥',
 '온',
 '올',
 '옴',
 '옷',
 '와',
 '완',
 '왓',
 '왕',
 '외',
 '요',
 '욕',
 '욘',
 '용',
 '우',
 '운',
 '울',
 '웅',
 '워',
 '원',
 '월',
 '웨',
 '웰',
 '위',
 '윈',
 '윗',
 '윙',
 '유',
 '육',
 '율',
 '으',
 '은',
 '을',
 '음',
 '의',
 '이',
 '익',
 '인',
 '일',
 '임',
 '입',
 '잇',
 '있',
 '잉',
 '잌',
 '잎',
 '자',
 '작',
 '잔',
 '잘',
 '잡',
 '잣',
 '장',
 '재',
 '잭',
 '잼',
 '쟁',
 '쟈',
 '쟝',
 '저',
 '적',
 '전',
 '절',
 '점',
 '접',
 '젓',
 '정',
 '제',
 '젤',
 '조',
 '족',
 '존',
 '졸',
 '좀',
 '종',
 '좋',
 '죠',
 '죤',
 '주',
 '죽',
 '준',
 '줄',
 '중',
 '쥐',
 '쥬',
 '즈',
 '즉',
 '즐',
 '즙',
 '증',
 '지',
 '직',
 '진',
 '질',
 '집',
 '징',
 '짜',
 '짠',
 '짬',
 '짱',
 '쨈',
 '쩍',
 '쪼',
 '쪽',
 '쫀',
 '쫄',
 '쬬',
 '쬰',
 '쮸',
 '쯔',
 '찌',
 '찐',
 '찜',
 '차',
 '착',
 '찬',
 '찰',
 '참',
 '찹',
 '창',
 '채',
 '처',
 '척',
 '천',
 '철',
 '첩',
 '청',
 '체',
 '첸',
 '첼',
 '쳐',
 '초',
 '촉',
 '촌',
 '총',
 '쵸',
 '추',
 '축',
 '춘',
 '충',
 '취',
 '츄',
 '츠',
 '층',
 '치',
 '칙',
 '친',
 '칠',
 '칡',
 '침',
 '칩',
 '칫',
 '칲',
 '카',
 '칸',
 '칼',
 '캄',
 '캇',
 '캉',
 '캐',
 '캔',
 '캠',
 '캡',
 '캣',
 '커',
 '컨',
 '컴',
 '컵',
 '케',
 '켄',
 '켈',
 '켓',
 '코',
 '콘',
 '콜',
 '콤',
 '콩',
 '콰',
 '쾌',
 '쿠',
 '쿡',
 '쿨',
 '퀄',
 '퀴',
 '퀸',
 '퀼',
 '큐',
 '크',
 '큰',
 '클',
 '키',
 '킥',
 '킨',
 '킬',
 '킴',
 '킵',
 '킹',
 '타',
 '탁',
 '탄',
 '탈',
 '탐',
 '탑',
 '탕',
 '태',
 '택',
 '탭',
 '탱',
 '터',
 '턴',
 '털',
 '테',
 '텍',
 '텐',
 '텔',
 '텝',
 '토',
 '톡',
 '톤',
 '톨',
 '톰',
 '톱',
 '톳',
 '통',
 '퇴',
 '투',
 '툴',
 '툼',
 '튀',
 '튜',
 '트',
 '특',
 '튼',
 '틀',
 '틈',
 '티',
 '틱',
 '틴',
 '팁',
 '팅',
 '파',
 '판',
 '팔',
 '팜',
 '팝',
 '팡',
 '팥',
 '패',
 '팩',
 '팬',
 '팸',
 '팹',
 '팻',
 '팽',
 '퍼',
 '펀',
 '펄',
 '펌',
 '펑',
 '페',
 '펙',
 '펜',
 '펩',
 '펫',
 '펭',
 '편',
 '평',
 '폐',
 '포',
 '폭',
 '폰',
 '폴',
 '폼',
 '퐁',
 '표',
 '푸',
 '푼',
 '풀',
 '품',
 '풋',
 '풍',
 '퓨',
 '퓸',
 '프',
 '플',
 '피',
 '픽',
 '핀',
 '필',
 '핏',
 '핑',
 '하',
 '학',
 '한',
 '할',
 '함',
 '합',
 '핫',
 '항',
 '해',
 '핵',
 '핸',
 '햄',
 '햅',
 '햇',
 '행',
 '향',
 '허',
 '헛',
 '헤',
 '현',
 '형',
 '혜',
 '호',
 '혼',
 '홀',
 '홈',
 '홍',
 '화',
 '환',
 '활',
 '황',
 '회',
 '획',
 '효',
 '후',
 '훅',
 '훈',
 '훼',
 '휘',
 '휴',
 '흑',
 '흔',
 '흡',
 '흥',
 '희',
 '흰',
 '히']

In [106]:
df.columns

Index(['#마하3터보면도날4입', '#퓨전메뉴얼면도기', '#퓨전메뉴얼면도날4입', '#퓨전프로글라이드면도날', '#화투이몽룡20입',
       '(P.T)핸디집게', '(고)식당요지', '(신)찜기대', '(신)찜기소', '(신)찜기중',
       ...
       '훈제란3입', '훈제스틱80g', '훼미리키즈사과210ml', '휘오/순수500ml*20p', '휴대용버너', '흑고무줄',
       '흑설탕 1kg', '흥진 아귀구이포', '흰다리새우', '히포/LED파인등기구'],
      dtype='object', length=3455)

In [108]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)

In [109]:
frequent_itemsets

Empty DataFrame
Columns: [support, itemsets]
Index: []