In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
path='/content/drive/MyDrive/Colab Notebooks/Retail/data/'
gds_a = pd.read_csv(path+'gds_a.csv')
gds_b = pd.read_csv(path+'gds_b.csv')
gds_c = pd.read_csv(path+'gds_c.csv')
gds_d = pd.read_csv(path+'gds_d.csv')
tr_list_a = pd.read_csv(path+'tr_list_a.csv')
tr_list_b = pd.read_csv(path+'tr_list_b.csv')
tr_list_c = pd.read_csv(path+'tr_list_c.csv')
tr_list_d = pd.read_csv(path+'tr_list_d.csv')
tr_dtl_list_a = pd.read_csv(path+'tr_dtl_list_a.csv')
tr_dtl_list_b = pd.read_csv(path+'tr_dtl_list_b.csv')
tr_dtl_list_c = pd.read_csv(path+'tr_dtl_list_c.csv')
tr_dtl_list_d = pd.read_csv(path+'tr_dtl_list_d.csv')

In [22]:
gds_a

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,999999,배송료,0
1,1001294,12018,2,사은행사쿠폰,999999,배송료,0
2,1001294,12018,91770,코지유리물병,93331,일반,0
3,1001294,12018,91770,크지물병,91701,일반,0
4,1001294,12018,50390427,POM석류,12579,일반,0
...,...,...,...,...,...,...,...
72142,1001294,12018,9999999914157,맥 원형후라이 대(240),93330,일반,0
72143,1001294,12018,9999999914171,맥웰빙원후/8,93330,일반,0
72144,1001294,12018,9999999914393,절구 소소,91701,일반,0
72145,1001294,12018,9999999915079,알뜰Y투라인,91701,일반,0
72146,1001294,12018,9999999915833,맥 웰빙원후 7,91701,일반,0

In [23]:
tr_dtl_list_a

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20210901,12018,01,3,1,정상판매,1,8801039939499,12301.0,180.0,3000.0,540000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,1000.0,360000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,12101.0,360.0,1000.0,360000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,11363.0,180.0,2700.0,486000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,12102.0,180.0,9500.0,1710000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5166594,20220901,12018,R1,7,9,정상판매,1,8801052171012,11170.0,1.0,850.0,850.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
5166595,20220901,12018,R1,7,10,정상판매,1,8801069221397,12205.0,1.0,4900.0,4380.0,할인특매,520.0,0.0,0.0,0.0,일반,0.0,0.0
5166596,20220901,12018,R1,7,11,정상판매,1,8801075016536,10251.0,1.0,10300.0,7980.0,할인특매,2320.0,0.0,0.0,0.0,일반,0.0,0.0
5166597,20220901,12018,R1,7,12,정상판매,1,8803712301654,10303.0,1.0,13200.0,13200.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
5166598,20220901,12018,R1,7,13,정상판매,1,8809389740024,30301.0,1.0,980.0,980.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [25]:
a_mer = pd.merge(tr_dtl_list_a[['SAL_DT','SEQ_NO', 'PLU_CD']],gds_a[['PLU_CD', 'GDS_NM']])
a_mer

           SAL_DT  SEQ_NO         PLU_CD                GDS_NM
0        20210901       1  8801039939499           해표 더고소한 파래김
1        20210902       1  8801039939499           해표 더고소한 파래김
2        20210902       1  8801039939499           해표 더고소한 파래김
3        20210902       3  8801039939499           해표 더고소한 파래김
4        20210903       1  8801039939499           해표 더고소한 파래김
...           ...     ...            ...                   ...
5054693  20220901       6  8801045255262    오뚜기 옛날 구수한 끓여먹는누룽지
5054694  20220901       7  8801075014525         사조 살코기참치 안심따개
5054695  20220901       3  8809263421247                쇼핑백(대)
5054696  20220901       4  4987176125293  다우니 엑스퍼트 실내건조 플로럴프레쉬
5054697  20220901       1  8809401602910           프릴베이킹소다허브용기

[5054698 rows x 4 columns]

In [26]:
dtl_copy = tr_dtl_list_a.copy()

In [27]:
dtl_mer = pd.merge(dtl_copy, gds_a, how='left', on='PLU_CD')
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD_x,SALE_QTY,...,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT,CO_CD,STR_CD_y,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,12301.0,180.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,해표 더고소한 파래김,12301.0,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,12101.0,360.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 3분쇠고기짜장,12101.0,일반,47.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,11363.0,180.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,목우촌 뚝심,11363.0,일반,61.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,12102.0,180.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 맛있는밥기획,12102.0,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,20220901,12018,R1,7,9,정상판매,1,8801052171012,11170.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,청정원 맛소금,11170.0,일반,35.0
5171351,20220901,12018,R1,7,10,정상판매,1,8801069221397,12205.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,남양 맛있는우유GT기획,12205.0,일반,2.0
5171352,20220901,12018,R1,7,11,정상판매,1,8801075016536,10251.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,사조 살코기참치 안심따개,10251.0,일반,16.0
5171353,20220901,12018,R1,7,12,정상판매,1,8803712301654,10303.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,목우촌 알찬란(특란),10303.0,일반,61.0
5171354,20220901,12018,R1,7,13,정상판매,1,8809389740024,30301.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,쌈다시마(팩),30301.0,일반,80.0

In [28]:
dtl_mer.drop(['CO_CD', 'STR_CD_y', 'GDS_CLSS_CD_x','SGDS_DC_PRC', 'SUBTOT_DC_AMT', 'EVT_DC_AMT', 'CPON_DC_AMT','GDS_CPON_DC_AMT','BASKET_CPON_DC_AMT'], axis=1, inplace=True)
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,180.0,3000.0,540000.0,할인특매,일반,해표 더고소한 파래김,12301.0,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기짜장,12101.0,일반,47.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,180.0,2700.0,486000.0,할인특매,일반,목우촌 뚝심,11363.0,일반,61.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,180.0,9500.0,1710000.0,할인특매,일반,오뚜기 맛있는밥기획,12102.0,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,20220901,12018,R1,7,9,정상판매,1,8801052171012,1.0,850.0,850.0,할인특매,일반,청정원 맛소금,11170.0,일반,35.0
5171351,20220901,12018,R1,7,10,정상판매,1,8801069221397,1.0,4900.0,4380.0,할인특매,일반,남양 맛있는우유GT기획,12205.0,일반,2.0
5171352,20220901,12018,R1,7,11,정상판매,1,8801075016536,1.0,10300.0,7980.0,할인특매,일반,사조 살코기참치 안심따개,10251.0,일반,16.0
5171353,20220901,12018,R1,7,12,정상판매,1,8803712301654,1.0,13200.0,13200.0,할인특매,일반,목우촌 알찬란(특란),10303.0,일반,61.0
5171354,20220901,12018,R1,7,13,정상판매,1,8809389740024,1.0,980.0,980.0,할인특매,일반,쌈다시마(팩),30301.0,일반,80.0

In [29]:
dtl_mer.columns

Index(['SAL_DT', 'STR_CD_x', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'PLU_CD', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'SGDS_DC_TP_NM', 'SCALES_GDS_TP_NM', 'GDS_NM', 'GDS_CLSS_CD_y',
       'GDS_TP_NM', 'VEN_CD'],
      dtype='object')

In [30]:
dtl_mer.reindex(columns=['SAL_DT', 'STR_CD_x', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'PLU_CD', 'GDS_NM', 'GDS_CLSS_CD_y', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'SGDS_DC_TP_NM', 'SCALES_GDS_TP_NM', 
       'GDS_TP_NM', 'VEN_CD'])

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_NM,GDS_CLSS_CD_y,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,해표 더고소한 파래김,12301.0,180.0,3000.0,540000.0,할인특매,일반,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,오뚜기 3분쇠고기카레,12101.0,360.0,1000.0,360000.0,할인특매,일반,일반,47.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,오뚜기 3분쇠고기짜장,12101.0,360.0,1000.0,360000.0,할인특매,일반,일반,47.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,목우촌 뚝심,11363.0,180.0,2700.0,486000.0,할인특매,일반,일반,61.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,오뚜기 맛있는밥기획,12102.0,180.0,9500.0,1710000.0,할인특매,일반,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,20220901,12018,R1,7,9,정상판매,1,8801052171012,청정원 맛소금,11170.0,1.0,850.0,850.0,할인특매,일반,일반,35.0
5171351,20220901,12018,R1,7,10,정상판매,1,8801069221397,남양 맛있는우유GT기획,12205.0,1.0,4900.0,4380.0,할인특매,일반,일반,2.0
5171352,20220901,12018,R1,7,11,정상판매,1,8801075016536,사조 살코기참치 안심따개,10251.0,1.0,10300.0,7980.0,할인특매,일반,일반,16.0
5171353,20220901,12018,R1,7,12,정상판매,1,8803712301654,목우촌 알찬란(특란),10303.0,1.0,13200.0,13200.0,할인특매,일반,일반,61.0
5171354,20220901,12018,R1,7,13,정상판매,1,8809389740024,쌈다시마(팩),30301.0,1.0,980.0,980.0,할인특매,일반,일반,80.0

In [31]:
dtl_mer_copy = dtl_mer.copy()

In [32]:
dtl_mer_copy.SAL_DT = dtl_mer_copy.SAL_DT.astype('str')
dtl_mer_copy.SAL_DT

0          20210901
1          20210901
2          20210901
3          20210901
4          20210901
             ...
5171350    20220901
5171351    20220901
5171352    20220901
5171353    20220901
5171354    20220901
Name: SAL_DT, Length: 5171355, dtype: object

In [33]:
dtl_mer_copy.SAL_DT = pd.to_datetime(dtl_mer_copy.SAL_DT)
# dtl_mer_copy.SAL_DT.dt.strftime('%Y/%m/%d')
dtl_mer_copy

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,2021-09-01,12018,01,3,1,정상판매,1,8801039939499,180.0,3000.0,540000.0,할인특매,일반,해표 더고소한 파래김,12301.0,일반,16.0
1,2021-09-01,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,2021-09-01,12018,01,3,3,정상판매,1,8801045291314,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기짜장,12101.0,일반,47.0
3,2021-09-01,12018,01,3,4,정상판매,1,8803712127018,180.0,2700.0,486000.0,할인특매,일반,목우촌 뚝심,11363.0,일반,61.0
4,2021-09-01,12018,01,3,5,정상판매,1,8801045890333,180.0,9500.0,1710000.0,할인특매,일반,오뚜기 맛있는밥기획,12102.0,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,2022-09-01,12018,R1,7,9,정상판매,1,8801052171012,1.0,850.0,850.0,할인특매,일반,청정원 맛소금,11170.0,일반,35.0
5171351,2022-09-01,12018,R1,7,10,정상판매,1,8801069221397,1.0,4900.0,4380.0,할인특매,일반,남양 맛있는우유GT기획,12205.0,일반,2.0
5171352,2022-09-01,12018,R1,7,11,정상판매,1,8801075016536,1.0,10300.0,7980.0,할인특매,일반,사조 살코기참치 안심따개,10251.0,일반,16.0
5171353,2022-09-01,12018,R1,7,12,정상판매,1,8803712301654,1.0,13200.0,13200.0,할인특매,일반,목우촌 알찬란(특란),10303.0,일반,61.0
5171354,2022-09-01,12018,R1,7,13,정상판매,1,8809389740024,1.0,980.0,980.0,할인특매,일반,쌈다시마(팩),30301.0,일반,80.0

In [34]:
dtl_gr = dtl_mer_copy.groupby(['SAL_DT', 'TRAN_NO', 'GDS_TP_NM'])['GDS_NM'].apply(list).to_frame()
dtl_gr

                                                                         GDS_NM
SAL_DT     TRAN_NO GDS_TP_NM
2021-09-01 1       일반         [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
           2       일반         [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
                   저울상품                                               [한우양지국거리]
           3       일반         [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
                   저울상품                           [양념무뼈닭발, 냉장삼겹살(수입), 찰(완숙)토마토]
...                                                                         ...
2022-09-01 688     일반                                              [홍로사과 10입/봉]
           689     일반                                               [죽염 시린고 치약]
           690     일반                                          [CJ 양념이잘배는찌개두부 ]
           691     일반                                                 [홍로사과/8개]
           692     일반                            [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[445308 rows x 1 columns]

In [35]:
dtl_gr2 = dtl_mer_copy.groupby(['SAL_DT', 'TRAN_NO'])['GDS_NM'].apply(list).to_frame()
dtl_gr2

                                                               GDS_NM
SAL_DT     TRAN_NO
2021-09-01 1        [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
           2        [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
           3        [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
           4        [**인큐애호박 1개, 진주 천하장사, *백오이 1개, 아삭이고추(2팩), *대파 ...
           5        [칠성사이다, 롯데 그란데아메리카노, 해표 양조간장 , 콘트라베이스디카페인, 롯데 ...
...                                                               ...
2022-09-01 688                                           [홍로사과 10입/봉]
           689                                            [죽염 시린고 치약]
           690                                       [CJ 양념이잘배는찌개두부 ]
           691                                              [홍로사과/8개]
           692                         [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[261216 rows x 1 columns]

In [16]:
# df_1 = a.reset_index().rename(columns={"index":"PLU_CD"})
# df_1

In [36]:
dtl_re = dtl_gr.reset_index().rename(columns={"index":"TRAN_NO"})
dtl_re

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,1,일반,"[*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도..."
1,2021-09-01,2,일반,"[팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k..."
2,2021-09-01,2,저울상품,[한우양지국거리]
3,2021-09-01,3,일반,"[해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심..."
4,2021-09-01,3,저울상품,"[양념무뼈닭발, 냉장삼겹살(수입), 찰(완숙)토마토]"
...,...,...,...,...
445303,2022-09-01,688,일반,[홍로사과 10입/봉]
445304,2022-09-01,689,일반,[죽염 시린고 치약]
445305,2022-09-01,690,일반,[CJ 양념이잘배는찌개두부 ]
445306,2022-09-01,691,일반,[홍로사과/8개]
445307,2022-09-01,692,일반,"[*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]"

In [40]:
dtl_re2 = dtl_gr2.reset_index().rename(columns={"index":"TRAN_NO"})
dtl_re2

           SAL_DT  TRAN_NO                                             GDS_NM
0      2021-09-01        1  [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
1      2021-09-01        2  [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
2      2021-09-01        3  [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
3      2021-09-01        4  [**인큐애호박 1개, 진주 천하장사, *백오이 1개, 아삭이고추(2팩), *대파 ...
4      2021-09-01        5  [칠성사이다, 롯데 그란데아메리카노, 해표 양조간장 , 콘트라베이스디카페인, 롯데 ...
...           ...      ...                                                ...
261211 2022-09-01      688                                       [홍로사과 10입/봉]
261212 2022-09-01      689                                        [죽염 시린고 치약]
261213 2022-09-01      690                                   [CJ 양념이잘배는찌개두부 ]
261214 2022-09-01      691                                          [홍로사과/8개]
261215 2022-09-01      692                     [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[261216 rows x 3 columns]

In [ ]:
dtl_re[dtl_re['SAL_DT']=='2021-09-01']

        SAL_DT  TRAN_NO                                             GDS_NM
0   2021-09-01        2                          [포카리스웨트, 맛소금 250g, 백설꽃소금]
1   2021-09-01        3                        [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2   2021-09-01        4                                     [피망, 파프리카, 쪽파]
3   2021-09-01        5  [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4   2021-09-01        6                                         [애호박, 애호박]
..         ...      ...                                                ...
99  2021-09-01      102                                               [청과]
100 2021-09-01      103                 [테라500ml, 진로소주16.9, 나가사까, 백설알찬소세지]
101 2021-09-01      104                     [신라면컵 6입, 좋은데이360ml, 델몬트망고1.5]
102 2021-09-01      105  [서울우유카톤, 불가리스 1줄, 스프라이트사이다, 몬스터에너지울트라355ml, 오레...
103 2021-09-01      106                                    [해피홈바퀴에어졸500ml]

[104 rows x 3 columns]

In [ ]:
# from collections import Counter

# dtl_count = Counter(','.join(map(str ,dtl_NM_3['GDS_NM'])).replace('','').split(','))
# dtl_count.most_common()

In [19]:
dtl_re.GDS_NM

0                                [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                                 [맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                                      [무]
3                                           [피망, 파프리카, 쪽파]
4        [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
                               ...
40834                                     [미에로화이, 1200아맛나]
40835                                        [동원샘물생수, 비식품]
40836         [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
40837                                 [빙그레우유, 파육계장, 옛날육개장]
40838                                                 [대파]
Name: GDS_NM, Length: 40839, dtype: object

In [ ]:
dtl_NM_3 = dtl_re['GDS_NM'].to_frame()
dtl_NM_3

                                                  GDS_NM
0                              [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                            [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                         [피망, 파프리카, 쪽파]
3      [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4                                             [애호박, 애호박]
...                                                  ...
35938  [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
35939                                   [미에로화이, 1200아맛나]
35940                                      [동원샘물생수, 비식품]
35941       [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
35942                           [빙그레우유, 파육계장, 옛날육개장, 대파]

[35943 rows x 1 columns]

In [ ]:
dtl_NM_3

                                                  GDS_NM
0                              [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                            [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                         [피망, 파프리카, 쪽파]
3      [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4                                             [애호박, 애호박]
...                                                  ...
35938  [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
35939                                   [미에로화이, 1200아맛나]
35940                                      [동원샘물생수, 비식품]
35941       [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
35942                           [빙그레우유, 파육계장, 옛날육개장, 대파]

[35943 rows x 1 columns]

In [ ]:
import itertools

In [ ]:
dtl_apri =dtl_mer_copy[['SAL_DT','TRAN_NO', 'GDS_NM', 'GDS_TP_NM']]
dtl_apri

          SAL_DT  TRAN_NO     GDS_NM GDS_TP_NM
0     2021-09-01        2     포카리스웨트        일반
1     2021-09-01        2   맛소금 250g        일반
2     2021-09-01        2      백설꽃소금        일반
3     2021-09-01        3          무      저울상품
4     2021-09-01        3  맛있는콩 찌개두부        일반
...          ...      ...        ...       ...
91855 2022-09-01      118     종이컵(줄)        일반
91856 2022-09-01      119      빙그레우유        일반
91857 2022-09-01      119       파육계장        일반
91858 2022-09-01      119      옛날육개장        일반
91859 2022-09-01      119         대파      저울상품

[91860 rows x 4 columns]

In [ ]:
def support(df, item_lst):
    return (df[list(item_lst)].sum(axis=1)==len(item_lst)).mean()

In [ ]:
dtl_re2['GDS_NM'] = list(map(','.join, dtl_re2['GDS_NM']))
dtl_re2['GDS_NM']

0                                    포카리스웨트,맛소금 250g,백설꽃소금
1                                     맛있는콩 찌개두부,야채,무궁화점보비누
2                                                        무
3                                               피망,파프리카,쪽파
4        생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복...
                               ...
40834                                        미에로화이,1200아맛나
40835                                           동원샘물생수,비식품
40836               카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)
40837                                     빙그레우유,파육계장,옛날육개장
40838                                                   대파
Name: GDS_NM, Length: 40839, dtype: object

In [ ]:
dtl_re2

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,2,일반,"포카리스웨트,맛소금 250g,백설꽃소금"
1,2021-09-01,3,일반,"맛있는콩 찌개두부,야채,무궁화점보비누"
2,2021-09-01,3,저울상품,무
3,2021-09-01,4,저울상품,"피망,파프리카,쪽파"
4,2021-09-01,5,일반,"생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복..."
...,...,...,...,...
40834,2022-09-01,116,일반,"미에로화이,1200아맛나"
40835,2022-09-01,117,일반,"동원샘물생수,비식품"
40836,2022-09-01,118,일반,"카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)"
40837,2022-09-01,119,일반,"빙그레우유,파육계장,옛날육개장"
40838,2022-09-01,119,저울상품,대파

In [ ]:
df2 = dtl_re2['GDS_NM'].to_frame()
df2

                                                  GDS_NM
0                                  포카리스웨트,맛소금 250g,백설꽃소금
1                                   맛있는콩 찌개두부,야채,무궁화점보비누
2                                                      무
3                                             피망,파프리카,쪽파
4      생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복...
...                                                  ...
40834                                      미에로화이,1200아맛나
40835                                         동원샘물생수,비식품
40836             카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)
40837                                   빙그레우유,파육계장,옛날육개장
40838                                                 대파

[40839 rows x 1 columns]

In [ ]:
dtl_re

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,2,일반,"[포카리스웨트, 맛소금 250g, 백설꽃소금]"
1,2021-09-01,3,일반,"[맛있는콩 찌개두부, 야채, 무궁화점보비누]"
2,2021-09-01,3,저울상품,[무]
3,2021-09-01,4,저울상품,"[피망, 파프리카, 쪽파]"
4,2021-09-01,5,일반,"[생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티..."
...,...,...,...,...
40834,2022-09-01,116,일반,"[미에로화이, 1200아맛나]"
40835,2022-09-01,117,일반,"[동원샘물생수, 비식품]"
40836,2022-09-01,118,일반,"[카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]"
40837,2022-09-01,119,일반,"[빙그레우유, 파육계장, 옛날육개장]"
40838,2022-09-01,119,저울상품,[대파]

In [41]:
dtl_re2

           SAL_DT  TRAN_NO                                             GDS_NM
0      2021-09-01        1  [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
1      2021-09-01        2  [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
2      2021-09-01        3  [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
3      2021-09-01        4  [**인큐애호박 1개, 진주 천하장사, *백오이 1개, 아삭이고추(2팩), *대파 ...
4      2021-09-01        5  [칠성사이다, 롯데 그란데아메리카노, 해표 양조간장 , 콘트라베이스디카페인, 롯데 ...
...           ...      ...                                                ...
261211 2022-09-01      688                                       [홍로사과 10입/봉]
261212 2022-09-01      689                                        [죽염 시린고 치약]
261213 2022-09-01      690                                   [CJ 양념이잘배는찌개두부 ]
261214 2022-09-01      691                                          [홍로사과/8개]
261215 2022-09-01      692                     [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[261216 rows x 3 columns]

In [56]:
doc = gds_a.GDS_NM
doc

0                   배송비
1                사은행사쿠폰
2                코지유리물병
3                  크지물병
4                 POM석류
              ...
72142    맥 원형후라이 대(240)
72143           맥웰빙원후/8
72144             절구 소소
72145            알뜰Y투라인
72146          맥 웰빙원후 7
Name: GDS_NM, Length: 72147, dtype: object

In [ ]:
!pip install sentence_transformers

In [65]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)

In [58]:
import numpy as np
import itertools

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sentence_transformers import SentenceTransformer
import spacy
from spacy.tokenizer import Tokenizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(doc) # 문장 벡터화 진행

print(tfidf_matrix)

print(tfidf_vectorizer.vocabulary_)

idf = tfidf_vectorizer.idf_
print(dict(zip(tfidf_vectorizer.get_feature_names(), idf)))

In [63]:
print(doc[[72138, 25139,36565]])

72138    맥 웰빙원후 6
25139    청정원 올리브유
36565    에어윅슬림교체용
Name: GDS_NM, dtype: object

## 데이터 정제

In [87]:
gds_a_copy = gds_a.copy()
gds_a_copy.head()

     CO_CD  STR_CD    PLU_CD  GDS_NM  GDS_CLSS_CD GDS_TP_NM  VEN_CD
0  1001294   12018         1     배송비       999999       배송료       0
1  1001294   12018         2  사은행사쿠폰       999999       배송료       0
2  1001294   12018     91770  코지유리물병        93331        일반       0
3  1001294   12018     91770    크지물병        91701        일반       0
4  1001294   12018  50390427   POM석류        12579        일반       0

In [ ]:
gds_a_copy['GDS_NM'] = gds_a_copy['GDS_NM'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

gds_a_copy

In [97]:
# gds_a_copy.GDS_NM.value_counts().loc[lambda x: x > 1]

악세사리       120
중고무제        35
캐릭터연필세트     34
현대멀티        34
모닝다이어리      34
          ...
꽈리고추         2
연어필렛         2
마늘쫑대         2
스피드업컵스       2
스티커색종이색      2
Name: GDS_NM, Length: 8857, dtype: int64

In [103]:
stopwords = []

In [ ]:
!git clone https://github.com/SOMJANG/Mecab-ko-for-Google-Colab.git
%cd Mecab-ko-for-Google-Colab
!bash install_mecab-ko_on_colab190912.sh

In [100]:
import urllib.request
import pandas as pd
from konlpy.tag import Mecab
from nltk import FreqDist
import numpy as np
import matplotlib.pyplot as plt

In [101]:
tokenizer = Mecab()

In [104]:
tokenized=[]
for sentence in gds_a_copy['GDS_NM']:
    temp = tokenizer.morphs(sentence) # 토큰화
    temp = [word for word in temp if not word in stopwords] # 불용어 제거
    tokenized.append(temp)

In [118]:
vocab = FreqDist(np.hstack(tokenized))
print(f'단어의 집합 : {len(vocab)}')

단어의 집합 : 15611

In [ ]:
vocab.most_common(30)

In [128]:
gds_a_copy.GDS_NM.drop_duplicates()

0              배송비
1           사은행사쿠폰
2           코지유리물병
3             크지물병
4               석류
           ...
72141    맥 원형후라이 중
72142    맥 원형후라이 대
72143        맥웰빙원후
72144        절구 소소
72145        알뜰투라인
Name: GDS_NM, Length: 55322, dtype: object

In [70]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop = "[^a-z0-9]"
stop_list = stop.split(',')
tok = word_tokenize(word)

def stopword(word_tokenize):
    result = []

    for w in word_tokenize:
        if w not in stop_list:
            result.append(w)
    return result

print('토큰화한 단어는'+ str(tok) +'입니다.')
print('불용어를 제거하면'+ str(stopword(tok)) +'입니다.')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

TypeError: ignored

## df to txt

In [72]:
from collections import defaultdict
import sys

corpus.iter_sent = True
max_l_length = 10
min_count = 30

L = defaultdict(lambda: 0)

for num_sent, sent in enumerate(corpus):
    if num_sent % 5000 == 0:
        sys.stdout.write('\risnerting %d sents... ' % num_sent)
    for token in sent.split():
        for e in range(1, min(max_l_length, len(token)) + 1):
            subword = token[:e]
            L[subword] += 1
print('\rinserting subwords into L: done')
print('num subword = %d' % len(L))

L = {subword:freq for subword, freq in L.items() if freq >= min_count}
print('num subword = %d (after pruning with min count %d)' % (len(L), min_count))

NameError: ignored

In [71]:
import numpy as np

def get_cohesion(word):
    # 글자가 아니거가 공백, 혹은 희귀한 단어인 경우
    if(not word) or((word in L) == False):
        return 0.0
    
    if len(word) == 1:
        return 1.0
    
    word_freq = L.get(word, 0)
    base_freq = L.get(word[:1], 0)
    
    if base_freq == 0:
        return 0.0
    else:
        return np.power((word_freq / base_freq), 1/(len(word) - 1))
    
print('청와대 : ', get_cohesion('청와대'))

NameError: ignored